<template>
  <div>
    <ul class="list-group">
      <li v-for="(msg, index) in messages" :key="index" class="list-group-item">
        <div :class="{'float-right' : msg.customer_id == $route.params.id}">
          {{ msg.message }}
        </div>
      </li>
    </ul>
    <p v-if="messages.length == 0">
      No Messsage till now
    </p>
    <form @submit.prevent="sendMessage">
      <p v-if="isTyping">Typing....</p>
      <input type="text" name="message" class="form-control" v-model="message">
      <input type="submit" name="submit" class="form-control">
    </form>
  </div>
</template>
<script type="text/javascript">
export default {
  data() {
    return {
      message: '',
      messages: [],
      isTyping: false
    }
  },
  props:['id'],
  created() {
    if (this.$route.params.id) {
      this.getMessage()
    }
  },
  mounted () {
    Echo.private(`message.${this.id}`)
      .listenForWhisper('typing', (e) => {
        if (e.message) {
          this.isTyping = true
        } else {
          this.isTyping = false
        }
      })
      .listen('MessageSent', (e) => {
        this.messageReceived(e)
        let audio = new Audio('/notification.ogg');
        audio.play();
      })
  },
  watch: {
    $route(to, from) {
      this.getMessage()
    },
    'message' () {
      Echo.private(`message.${this.$route.params.id}`)
        .whisper('typing', {
          message: this.message != '' ? true : false
        });
    }
  },
  methods: {
    sendMessage() {
      if (this.message != '') {
        axios.post('/graphql', {
          query: `
            mutation add {
              addMessage(
                sender: ${this.id},
                reciever: ${this.$route.params.id},
                message: "${this.scapeString(this.message)}"
              ) {
                message
                user_id
                customer_id
              }
            }

          `
        })
        .then(resp => {
          this.message = ''
          this.messages = [...this.messages, resp.data.data.addMessage]
        })
        .catch(err => {
          alert("sorry some error occured")
        })
      } else {
        alert("Message Field is empty")
      }
    },
    format() {
      return {
        sender: this.id,
        reciever: this.$route.params.id,
        message: this.message
      }
    },
    getMessage() {
      let self = this
      axios.post('/graphql',
      {
        query: `
          query getMessages {
            message(sender: ${self.$route.params.id}, reciever: ${self.id},) {
              message
              user_id
              customer_id
            }
          }
          `
      })
      .then(resp => {
        this.messages = resp.data.data.message
      })
      .catch(err => {
        alert("some error occured")
      })
    },
    messageReceived(e) {
      if (this.$route.params.id == e.message.user_id) {
        this.messages = [...this.messages, e.message]
      }
    },
    scapeString(str) {
      var replacedTxt = str;
      if (str!=null) {
        var replacedTxt = str.replace(/\\/g, "/");
        replacedTxt = replacedTxt.replace(new RegExp('\r?\n', 'g'), ' ');
        var replacedTxt = replacedTxt.replace(/\"/g, '\\"');
      }
      return replacedTxt;
    },
  }
}
</script>
