<template>
  <div>
    <ul class="list-group">
      <li class="list-group-item" v-for="(user, index) in users" :key="index">
        <router-link :to="{name: 'user', params: {id: user.id}}">
          {{ user.name }}
        </router-link>
      </li>
    </ul>
  </div>
</template>
<script type="text/javascript">
export default {
  props:['users']
}
</script>
