<template>
  <div>
    <div class="container row">
      <div class="col-3">
        <list :users="users"/>
      </div>
      <div class="col-9">
        <chat :id="id"/>  
      </div>
    </div>  
  </div>
</template>
<script type="text/javascript">
import list from './listUser'
import chat from './chat'

export default {
  props: ['users', 'id'],
  components: {list, chat},
  mounted () {
    if (this.$route.params.id) {
      this.currentUser = this.$route.params.id
    }
  }
}
</script>
