.btn--google {
	padding-left:0px;
	padding-right:10px;
	margin-right:5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.btn--facebook {
	padding-left:0px;
	padding-right:10px;
	background-color:#3B5998;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	color:white;
}

.btn--google > span,.btn--facebook > span {
	float:right;
}