<template>
  <div>
    <div class="form-group required clearfix row">
      <label for="category_id" class="col control-label">Select Category</label>
      <div class="col-8">
        <select name="category_id" class="form-control" v-model="categoryId">
          <option value="-1" disabled>Select a category</option>
          <option v-for="(category, index) in categories" :key="index" :value="category.id">{{ category.title }}</option>
        </select>
      </div>
    </div>
    <input v-if="categoryType" type="hidden" name="attribute_type" :value="categoryType.attribute_type">

    <vehicle-form 
      v-if="checkType('VehicleAttribute')"
      :errors="errors"
      :attributes="getAttributes(categoryType.attributes)"
      :post="attributes"
    />
    <job-form 
      v-if="checkType('JobAttribute')"
      :errors="errors"
      :attributes="getAttributes(categoryType.attributes)"
      :post="attributes"
    />
    <property-form 
      v-if="checkType('PropertyAttribute')"
      :errors="errors"
      :attributes="getAttributes(categoryType.attributes)"
      :post="attributes"
    />
    <electronic-form
      v-if="checkType('ElectronicAttribute')"
      :errors="errors"
      :attributes="getAttributes(categoryType.attributes)"
      :post="attributes"
    />
  </div>
</template>
<script>
import vehicleForm from './partials/vehicleForm'
import jobForm from './partials/jobForm'
import propertyForm from './partials/propertyForm'
import electronicForm from './partials/electronicForm'

export default {
  components: {
    vehicleForm,
    jobForm,
    propertyForm,
    electronicForm,
  },
  data () {
    return {
      categoryId: -1,
    }
  },
  props: ['categories', 'errors', 'old', 'ad', 'attributes'],
  mounted () {
    this.changeAd()
  },
  computed: {
    categoryType () {
      let self = this
      return this.categories.find(category => {
        return category.id == self.categoryId
      });
    },
    post () {
      return this.changeAd()
    }
  },
  methods: {
    checkType(attribute) {
      if (this.categoryType) {
        return this.categoryType.attribute_type == attribute
      } else {
        return false
      }
    },
    getAttributes(attributes) {
      if (attributes) {
        return JSON.parse(attributes)
      } else {
        return []
      }
    },
    changeAd() {
      let newAd = this.ad
      if (this.ad.category_id) {
        this.categoryId = this.ad.category_id
      }
      if (this.old._token) {
        newAd = this.old
        this.categoryId = this.old.category_id
      }

      return newAd
    }
  }
}
</script>
