<template>
<div>
  <div class="form-group clearfix row" v-if="attributeHas('brand')">
    <label for="brand" class="col control-label">Brand</label>
    <div class="col-8">
      <input type="text" class="form-control" name="brand" v-model="post.brand">
      <span class="form-text text-danger" v-if="errorHas('brand')">
        <strong>{{ errorHas('brand') }}</strong>
      </span>
    </div>
  </div>
  <div class="form-group clearfix row" v-if="attributeHas('storage')">
    <label for="storage" class="col control-label">storage</label>
    <div class="col-8">
      <input type="text" class="form-control" name="storage" v-model="post.storage">
      <span class="form-text text-danger" v-if="errorHas('storage')">
        <strong>{{ errorHas('storage') }}</strong>
      </span>
    </div>
  </div>
  <div class="form-group clearfix row" v-if="attributeHas('condition')">
    <label for="condition" class="col control-label">Condition</label>
    <div class="col-8">
      New
      <input type="radio" name="condition" value="1" v-model="post.condition">
      &nbsp;
      Used
      <input type="radio" name="condition" value="0" v-model="post.condition">
      <span class="form-text text-danger" v-if="errorHas('condition')">
        <strong>{{ errorHas('condition') }}</strong>
      </span>
    </div>
  </div>
</div>
</template>
<script>
import {FormMixin} from './../../mixins/formMixin.js'

export default {
  mixins: [FormMixin],
}
</script>
