<template>
<div>
  <div class="form-group clearfix row" v-if="attributeHas('type')">
    <label for="type" class="col control-label">I am</label>
    <div class="col-8">
      Seeker
      <input type="radio" name="type" value="0" required v-model="post.type">
      &nbsp;
      Employer
      <input type="radio" name="type" value="1" required v-model="post.type">
      <span class="form-text text-danger" v-if="errorHas('type')">
        <strong>{{ errorHas('type') }}</strong>
      </span>
    </div>
  </div>
  <div class="form-group clearfix row" v-if="attributeHas('company_name')">
    <label for="company_name" class="col control-label">Company Name</label>
    <div class="col-8">
      <input type="text" name="company_name" class="form-control" v-model="post.company_name">
      <span class="form-text text-danger" v-if="errorHas('company_name')">
        <strong>{{ errorHas('company_name') }}</strong>
      </span>
    </div>
  </div>
  <div class="form-group clearfix row" v-if="attributeHas('position')">
    <label for="position" class="col control-label">Position</label>
    <div class="col-8">
      <input type="text" name="position" class="form-control" v-model="post.position">
      <span class="form-text text-danger" v-if="errorHas('position')">
        <strong>{{ errorHas('position') }}</strong>
      </span>
    </div>
  </div>
  <div class="form-group clearfix row" v-if="attributeHas('experience_min')">
    <label for="experience_min" class="col control-label">Experience (min)</label>
    <div class="col-8">
      <input type="number" name="experience_min" class="form-control" min="0" v-model="post.experience_min">
      <span class="form-text text-danger" v-if="errorHas('experience_min')">
        <strong>{{ errorHas('experience_min') }}</strong>
      </span>
    </div>
  </div>
  <div class="form-group clearfix row" v-if="attributeHas('experience_max')">
    <label for="experience_max" class="col control-label">Experience (max)</label>
    <div class="col-8">
      <input type="number" name="experience_max" class="form-control" min="0" v-model="post.experience_max">
      <span class="form-text text-danger" v-if="errorHas('experience_max')">
        <strong>{{ errorHas('experience_max') }}</strong>
      </span>
    </div>
  </div>
  <div class="form-group clearfix row" v-if="attributeHas('salary_period')">
    <label for="salary_period" class="col control-label">Salary Period</label>
    <div class="col-8">
      <select name="salary_period" class="form-control" v-model="post.salary_period">
        <option :value="post.salary_period == undefined ? undefined : null" disabled>Select a salary period</option>
        <option v-for="(period, index) in periods" :key="index" :value="index">{{ period }}</option>
      </select>
      <span class="form-text text-danger" v-if="errorHas('salary_period')">
        <strong>{{ errorHas('salary_period') }}</strong>
      </span>
    </div>
  </div>
  <div class="form-group clearfix row" v-if="attributeHas('salary_min')">
    <label for="salary_min" class="col control-label">salary (min)</label>
    <div class="col-8">
      <input type="number" name="salary_min" class="form-control" min="0" v-model="post.salary_min">
      <span class="form-text text-danger" v-if="errorHas('salary_min')">
        <strong>{{ errorHas('salary_min') }}</strong>
      </span>
    </div>
  </div>
  <div class="form-group clearfix row" v-if="attributeHas('salary_max')">
    <label for="salary_max" class="col control-label">salary (max)</label>
    <div class="col-8">
      <input type="number" name="salary_max" class="form-control" min="0" v-model="post.salary_max">
      <span class="form-text text-danger" v-if="errorHas('salary_max')">
        <strong>{{ errorHas('salary_max') }}</strong>
      </span>
    </div>
  </div>
</div>
</template>
<script>
import {FormMixin} from './../../mixins/formMixin.js'

export default {
  mixins: [FormMixin],
  data () {
    return {
      periods: [
        'hourly',
        'weekly',
        'monthly',
      ]
    }
  }
}
</script>
