<template>
<div>
  <div class="form-group clearfix row" v-if="attributeHas('surface_size')">
    <label for="surface_size" class="col control-label">Surface Size *</label>
    <div class="col-8">
      <input type="number" class="form-control" name="surface_size" required v-model="post.surface_size">
      <span class="form-text text-danger" v-if="errorHas('surface_size')">
        <strong>{{ errorHas('surface_size') }}</strong>
      </span>
    </div>
  </div>
  <div class="form-group clearfix row" v-if="attributeHas('bedrooms')">
    <label for="bedrooms" class="col control-label">Bed Rooms *</label>
    <div class="col-8">
      <input type="number" class="form-control" name="bedrooms" required v-model="post.bedrooms">
      <span class="form-text text-danger" v-if="errorHas('bedrooms')">
        <strong>{{ errorHas('bedrooms') }}</strong>
      </span>
    </div>
  </div>
  <div class="form-group clearfix row" v-if="attributeHas('bathrooms')">
    <label for="bathrooms" class="col control-label">Bath Rooms *</label>
    <div class="col-8">
      <input type="number" class="form-control" name="bathrooms" required v-model="post.bathrooms">
      <span class="form-text text-danger" v-if="errorHas('bathrooms')">
        <strong>{{ errorHas('bathrooms') }}</strong>
      </span>
    </div>
  </div>
  <div class="form-group clearfix row" v-if="attributeHas('type_of_property')">
    <label for="type_of_property" class="col control-label">Type of Property</label>
    <div class="col-8">
      <select name="type_of_property" v-model="post.type_of_property" class="form-control">
        <option :value="post.type_of_property == undefined ? undefined : null" disabled>Select a type of property</option>
        <option v-for="(property, index) in properties" :value="index" :key="index"> {{ property }}</option>
      </select>
      <span class="form-text text-danger" v-if="errorHas('type_of_property')">
        <strong>{{ errorHas('type_of_property') }}</strong>
      </span>
    </div>
  </div>
  <div class="form-group clearfix row" v-if="attributeHas('listed_by')">
    <label for="listed_by" class="col control-label">Listed By</label>
    <div class="col-8">
      Owner
      <input type="radio" name="listed_by" value="1" v-model="post.listed_by">
      &nbsp;
      Agent
      <input type="radio" name="listed_by" value="0" v-model="post.listed_by">
      <span class="form-text text-danger" v-if="errorHas('listed_by')">
        <strong>{{ errorHas('listed_by') }}</strong>
      </span>
    </div>
  </div>
  <div class="form-group clearfix row" v-if="attributeHas('parking')">
    <label for="parking" class="col control-label">Parking</label>
    <div class="col-8">
      Yes
      <input type="radio" name="parking" value="1" v-model="post.parking">
      &nbsp;
      No
      <input type="radio" name="parking" value="0" v-model="post.parking">
      <span class="form-text text-danger" v-if="errorHas('parking')">
        <strong>{{ errorHas('parking') }}</strong>
      </span>
    </div>
  </div>
  <div class="form-group clearfix row" v-if="attributeHas('furnished')">
    <label for="furnished" class="col control-label">Furnished</label>
    <div class="col-8">
      Yes
      <input type="radio" name="furnished" value="1" v-model="post.furnished">
      &nbsp;
      No
      <input type="radio" name="furnished" value="0" v-model="post.furnished">
      <span class="form-text text-danger" v-if="errorHas('furnished')">
        <strong>{{ errorHas('furnished') }}</strong>
      </span>
    </div>
  </div>
  <div class="form-group clearfix row" v-if="attributeHas('pets')">
    <label for="pets" class="col control-label">Pets Allowed</label>
    <div class="col-8">
      Yes
      <input type="radio" name="pets" value="1" v-model="post.pets">
      &nbsp;
      No
      <input type="radio" name="pets" value="0" v-model="post.pets">
      <span class="form-text text-danger" v-if="errorHas('pets')">
        <strong>{{ errorHas('pets') }}</strong>
      </span>
    </div>
  </div>
  <div class="form-group clearfix row" v-if="attributeHas('broker_fee')">
    <label for="broker_fee" class="col control-label">Broker Fee</label>
    <div class="col-8">
      Yes
      <input type="radio" name="broker_fee" value="1" v-model="post.broker_fee">
      &nbsp;
      No
      <input type="radio" name="broker_fee" value="0" v-model="post.broker_fee">
      <span class="form-text text-danger" v-if="errorHas('broker_fee')">
        <strong>{{ errorHas('broker_fee') }}</strong>
      </span>
    </div>
  </div>
</div>
</template>
<script>
import {FormMixin} from './../../mixins/formMixin.js'

export default {
  mixins: [FormMixin],
  data () {
    return {
      properties : [
        'house',
        'flat',
        'duplex',
        'loft',
        'other'
      ]
    }
  }
}
</script>
