<template>
<div>
  <div class="form-group clearfix row" v-if="attributeHas('make')">
    <label for="make" class="col control-label">Make *</label>
    <div class="col-8">
      <input type="text" class="form-control" name="make" required v-model="post.make">
      <span class="form-text text-danger" v-if="errorHas('make')">
        <strong>{{ errorHas('make') }}</strong>
      </span>
    </div>
  </div>
  <div class="form-group clearfix row" v-if="attributeHas('type')">
    <label for="type" class="col control-label">Type</label>
    <div class="col-8">
      <input type="text" class="form-control" name="type" v-model="post.type">
      <span class="form-text text-danger" v-if="errorHas('type')">
        <strong>{{ errorHas('type') }}</strong>
      </span>
    </div>
  </div>
  <div class="form-group clearfix row" v-if="attributeHas('year')">
    <label for="year" class="col control-label">Year</label>
    <div class="col-8">
      <input type="number" class="form-control" name="year" v-model="post.year">
      <span class="form-text text-danger" v-if="errorHas('year')">
        <strong>{{ errorHas('year') }}</strong>
      </span>
    </div>
  </div>
  <div class="form-group clearfix row" v-if="attributeHas('mileage')">
    <label for="mileage" class="col control-label">Mileage *</label>
    <div class="col-8">
      <input type="number" class="form-control" name="mileage" v-model="post.mileage" min="0">
      <span class="form-text text-danger" v-if="errorHas('mileage')">
        <strong>{{ errorHas('mileage') }}</strong>
      </span>
    </div>
  </div>
  <div class="form-group clearfix row" v-if="attributeHas('fuel')">
    <label for="fuel" class="col control-label">Fuel</label>
    <div class="col-8">
      <select name="fuel" class="form-control" v-model="post.fuel">
        <option :value="post.fuel == undefined ? undefined : null" disabled>Select Fuel Type</option>
        <option v-for="(fuel, index) in fuels" :key="index" :value="index">
          {{ fuel }}
        </option>
      </select>
      <span class="form-text text-danger" v-if="errorHas('fuel')">
        <strong>{{ errorHas('fuel') }}</strong>
      </span>
    </div>
  </div>
  <div class="form-group clearfix row" v-if="attributeHas('color')">
    <label for="color" class="col control-label">Color</label>
    <div class="col-8">
      <input type="text" class="form-control" name="color" v-model="post.color">
      <span class="form-text text-danger" v-if="errorHas('color')">
        <strong>{{ errorHas('color') }}</strong>
      </span>
    </div>
  </div>
  <div class="form-group clearfix row" v-if="attributeHas('first_owner')">
    <label for="first_owner" class="col control-label">First Owner</label>
    <div class="col-8">
      Yes
      <input type="radio" name="first_owner" value="1" v-model="post.first_owner">
      &nbsp;
      No
      <input type="radio" name="first_owner" value="0" v-model="post.first_owner">
      <span class="form-text text-danger" v-if="errorHas('first_owner')">
        <strong>{{ errorHas('first_owner') }}</strong>
      </span>
    </div>
  </div>
  <div class="form-group clearfix row" v-if="attributeHas('condition')">
    <label for="condition" class="col control-label">Condition</label>
    <div class="col-8">
      New
      <input type="radio" name="condition" value="1" v-model="post.condition">
      &nbsp;
      Used
      <input type="radio" name="condition" value="0" v-model="post.condition">
      <span class="form-text text-danger" v-if="errorHas('condition')">
        <strong>{{ errorHas('condition') }}</strong>
      </span>
    </div>
  </div>
  <div class="form-group clearfix row" v-if="attributeHas('transmission')">
    <label for="transmission" class="col control-label">Transmission</label>
    <div class="col-8">
      Automatic
      <input type="radio" name="transmission" value="1" v-model="post.transmission">
      &nbsp;
      Manual
      <input type="radio" name="transmission" value="0" v-model="post.transmission">
      <span class="form-text text-danger" v-if="errorHas('transmission')">
        <strong>{{ errorHas('transmission') }}</strong>
      </span>
    </div>
  </div>
  <div class="form-group clearfix row" v-if="attributeHas('listed_by')">
    <label for="listed_by" class="col control-label">Listed By</label>
    <div class="col-8">
      Owner
      <input type="radio" name="listed_by" value="1" v-model="post.listed_by">
      &nbsp;
      Agent
      <input type="radio" name="listed_by" value="0" v-model="post.listed_by">
      <span class="form-text text-danger" v-if="errorHas('listed_by')">
        <strong>{{ errorHas('listed_by') }}</strong>
      </span>
    </div>
  </div>
  <div class="form-group clearfix row" v-if="attributeHas('vin_number')">
    <label for="listed_by" class="col control-label">VIN Number</label>
    <div class="col-8">
      <input type="text" name="vin_number" class="form-control" v-model="post.vin_number">
      <span class="form-text text-danger" v-if="errorHas('vin_number')">
        <strong>{{ errorHas('vin_number') }}</strong>
      </span>
    </div>
  </div>
</div>
</template>
<script>
import {FormMixin} from './../../mixins/formMixin.js'

export default {
  mixins: [FormMixin],
  data () {
    return {
      fuels: [
        'petrol',
        'diesel',
        'other'
      ],
    }
  }
}
</script>
